PrefLearnLib/UCI/BreastCancerWisconsin/strict_examples.csv
PrefLearnLib/UCI/BreastCancerWisconsin/eq_examples.csv
PrefLearnLib/UCI/BreastCancerWisconsinDownsampled/strict_examples.csv
PrefLearnLib/UCI/BreastCancerWisconsinDownsampled/eq_examples.csv
PrefLearnLib/UCI/CarEvaluation/strict_examples.csv
PrefLearnLib/UCI/CarEvaluation/eq_examples.csv
PrefLearnLib/UCI/CreditApproval/strict_examples.csv
PrefLearnLib/UCI/CreditApproval/eq_examples.csv
PrefLearnLib/UCI/CreditApprovalDownsampled/strict_examples.csv
PrefLearnLib/UCI/CreditApprovalDownsampled/eq_examples.csv
PrefLearnLib/UCI/CreditApprovalDownsampledFurther/strict_examples.csv
PrefLearnLib/UCI/CreditApprovalDownsampledFurther/eq_examples.csv
PrefLearnLib/UCI/GermanCredit/strict_examples.csv
PrefLearnLib/UCI/GermanCredit/eq_examples.csv
PrefLearnLib/UCI/GermanCreditDownsampled/strict_examples.csv
PrefLearnLib/UCI/GermanCreditDownsampled/eq_examples.csv
PrefLearnLib/UCI/GermanCreditDownsampledFurther/strict_examples.csv
PrefLearnLib/UCI/GermanCreditDownsampledFurther/eq_examples.csv
PrefLearnLib/UCI/Ionosphere/strict_examples.csv
PrefLearnLib/UCI/Ionosphere/eq_examples.csv
PrefLearnLib/UCI/IonosphereDownsampled/strict_examples.csv
PrefLearnLib/UCI/IonosphereDownsampled/eq_examples.csv
PrefLearnLib/UCI/IonosphereDownsampledFurther/strict_examples.csv
PrefLearnLib/UCI/IonosphereDownsampledFurther/eq_examples.csv
PrefLearnLib/UCI/MammographicMass/strict_examples.csv
PrefLearnLib/UCI/MammographicMass/eq_examples.csv
PrefLearnLib/UCI/MammographicMassDownsampled/strict_examples.csv
PrefLearnLib/UCI/MammographicMassDownsampled/eq_examples.csv
PrefLearnLib/UCI/Mushroom/strict_examples.csv
PrefLearnLib/UCI/Mushroom/eq_examples.csv
PrefLearnLib/UCI/MushroomDownsampled/strict_examples.csv
PrefLearnLib/UCI/MushroomDownsampled/eq_examples.csv
PrefLearnLib/UCI/Nursery/strict_examples.csv
PrefLearnLib/UCI/Nursery/eq_examples.csv
PrefLearnLib/UCI/NurseryDownsampled/strict_examples.csv
PrefLearnLib/UCI/NurseryDownsampled/eq_examples.csv
PrefLearnLib/UCI/NurseryDownsampledFurther/strict_examples.csv
PrefLearnLib/UCI/NurseryDownsampledFurther/eq_examples.csv
PrefLearnLib/UCI/SpectHeart/strict_examples.csv
PrefLearnLib/UCI/SpectHeart/eq_examples.csv
PrefLearnLib/UCI/SpectHeartDownsampled/strict_examples.csv
PrefLearnLib/UCI/SpectHeartDownsampled/eq_examples.csv
PrefLearnLib/UCI/SpectHeartDownsampledFurther/strict_examples.csv
PrefLearnLib/UCI/SpectHeartDownsampledFurther/eq_examples.csv
PrefLearnLib/UCI/TicTacToe/strict_examples.csv
PrefLearnLib/UCI/TicTacToe/eq_examples.csv
PrefLearnLib/UCI/Vehicle/strict_examples.csv
PrefLearnLib/UCI/Vehicle/eq_examples.csv
PrefLearnLib/UCI/VehicleDownsampled/strict_examples.csv
PrefLearnLib/UCI/VehicleDownsampled/eq_examples.csv
PrefLearnLib/UCI/VehicleDownsampledFurther/strict_examples.csv
PrefLearnLib/UCI/VehicleDownsampledFurther/eq_examples.csv
PrefLearnLib/UCI/Wine/strict_examples.csv
PrefLearnLib/UCI/Wine/eq_examples.csv
PrefLearnLib/UCI/WineDownsampled/strict_examples.csv
PrefLearnLib/UCI/WineDownsampled/eq_examples.csv
